{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align:center; padding-bottom: 5%;"> {{ challenge[1] }}</h1>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 style="text-align:center; padding-bottom: 5%;"> Challenge Description</h4>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 style="text-align:center; padding-bottom: 5%;"> {{ challenge[2] }}</h4>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 style="text-align:center; padding-bottom: 5%;"> Proof</h4>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-9">
			<iframe src="{{ challenge[7] }}" width="100%" height="75%" frameborder="0">Your browser does not support iframes.</iframe>
			<!--<iframe width="100%" height="100%" src="http://livestre:am/565Nu" frameborder="0" allowfullscreen></iframe>-->
		</div>	
		<div class="col-md-3">
			<p> Start Date: <span> 12-06-2015</span> </p>
			<p> End Date: <span> 13-06-2015</span> </p>
			<p> Number of donations: <span> {{ challenge[5] }} </span> </p>
			<p> Income: <span> {{ challenge[6] }} </span> <span>$</span></p>
			<!--<form id="checkout" method="post" action="/checkout">-->
			<form id="checkout" method="post" action="/checkout">
				<div id="dropin"></div>
				<input type="submit" value="Pay $10">
			</form>
			<!--<p> <a href="/donate"><button type="button" class="btn btn-primary btn-lg button_donate">  Donate </button></a></p>-->
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12" id="result">

		</div>	
	</div>
</div>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
braintree.setup(
    // Replace this with a client token from your server
    "{{ token }}" ,
    "dropin", {
    	container: "dropin"
    });

</script>

{% endblock %}