{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<h3 class="metadata" style="text-align:center; margin-top:5%;"> Challenge Name</h3>	</div>	
				<div class="row">
					<h1 class="data"> {{ challenge[1] }}</h1>
				</div>	
			</div>	
			<div class="col-md-6">
				<div class="row">
					<h3 class="metadata"style="text-align:center; margin-top: 5%;"> Hero Name</h3>
				</div>			
				<div class="row">
					<h2 class="data" style="text-align:center;"> {{ challenge[8] }}</h2>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="metadata" style="text-align:center; padding-top: 5%; margin-bottom: 2%;"> Challenge Description</h3>
			</div>	
		</div>
	<div class="row">
		<div class="col-md-12">
			<h4 class = "data" style="text-align:center;"> {{ challenge[2] }}</h4>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-9">
			<h3 class="metadata" style="text-align:center; padding-top: 5%; padding-bottom: 5%;"> Follow the challenge</h3>
		</div>	
	</div>
	<div class="row">
		<div class="col-xs-18 col-md-9">
			<iframe src="{{ challenge[7] }}" width="100%" height="75%" frameborder="0">Your browser does not support iframes.</iframe>
		</div>	
		<div class="col-xs-18 col-md-3">
			<h3 class="metadata"> Information </h3>
			<p> <b>Start Date: </b><span> 12-06-2015</span> </p>
			<p><b> End Date: </b><span> 13-06-2015</span> </p>
			<p> <b>Number of donations: </b><span> {{ challenge[5] }} </span> </p>
			<p> <b>Income: </b><span> {{ challenge[6] }} </span> <span>$</span></p>
			<!--<form id="checkout" method="post" action="/checkout">-->
			<form id="checkout" method="post" action="/checkout">
				<div id="dropin"></div>
				<div id="slider-range-min"></div>
				<p><input name = "amount" type="text" id="amount" readonly style="border:0; color:#AB161E; font-weight:bold;"></p>	
				<input id="pay" type="submit" value="Pay">
			</form>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12" id="result">

		</div>	
	</div>
</div>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
braintree.setup(
    // Replace this with a client token from your server
    "{{ token }}" ,
    "dropin", {
    	container: "dropin"
    });

</script>

{% endblock %}