{% extends "base.html" %}
{% block content %}

<div class="container" data-url="{{ url_for('projects') }}">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align:center; margin-top: 5%; margin-bottom: 5%;">Thank you</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-18 col-md-offset-3 col-md-6">
			<p class="volver"><a href="/"><button type="button" class="btn btn-primary btn-lg volver">  More Challenges </button></a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-18 col-md-6">
			<div class="fb-share-button" data-href="http://challenty.herokuapp.com/" data-layout="button"></div>
		</div>	
	</div>
</div>
{% endblock %}